<section class="hero-solid {{ image_full_bleed ? 'full-bleed-image' : '' }}">

    <div class="background {{ page_colour ?= page_colour|slugify }} {{ colour ?= colour|slugify }} {{ if image }} {{else}} no-image{{endif}} ">
        {{ if image }}
        <div class="image">
            <picture>
                <img loading="eager" fetchpriority="high" src="{{ image }}" width="{{ image:width }}" height="{{ image:height }}" alt="{{ image:alt }}">
            </picture>
        </div>
        {{endif}}

    </div>

    <div class="wrapper">
        <div class="content {{ subtitle_colour ? subtitle_colour|slugify : '' }}">
            {{ if subtitle }}
                <h1 class="subtitle {{ page_colour ?= page_colour|slugify }}">
                    {{ subtitle }}
                </h1>
            {{ endif}}
            {{ if content }}
                {{ content }}
            {{ endif }}
        </div>
    </div>
</section>
