<section class="hero">

    {{ if background_image }}
        <div class="background">
            <picture>
                <source media="(min-width: 1200px)" srcset="{{ glide:background_image width='1920' }}" type="image/webp">
                <source media="(max-width: 1199px)" srcset="{{ glide:background_image width='1600' }}" type="image/webp">
                <img loading="lazy" src="{{ background_image }}" width="100%" height="100%" alt="{{ background_image:alt }}">
            </picture>
        </div>
    {{ endif }}

    <div class="wrapper">
        <div class="content {{ if textbox }} textbox {{ endif}}">
            {{ if subtitle }}
                <p class="subtitle">
                    {{ subtitle }}
                </p>
             
                {{ content }}
            {{ endif }}
        </div>
    </div>
</section>