{{ video }}
    {{ if embed_video }}
    
        {{ if embed_code | is_embeddable }}
            <iframe class="asset lazy" src="{{ embed_code | embed_url }}" width="100%" height="100%"></iframe>
        {{ endif }}

    {{ else }}

        {{ if mp4 or hvc1 or webm}}
            <video class="asset" width="100%" height="100%" {{ thumbnail ? 'poster="{ thumbnail }"' : '' }} {{ autoplay ? 'autoplay' : '' }} {{ muted ? 'muted' : '' }} {{ loop ? 'loop' : '' }} playsinline>
                {{ if mp4 }}
                    <source src="{{ mp4 }}" type="video/mp4;">
                {{ endif }}
                {{ if hvc1 }}
                    <source src="{{ hvc1 }}" type="video/mp4;codecs=hvc1">
                {{ endif }}
                {{ if webm }}
                    <source src="{{ webm }}" type="video/webm">
                {{ endif }}
            </video>
        {{ endif }}

    {{ endif }}
{{ /video }}