@import '../variables';

footer {
    padding: 32px 16px;
    background: $lightLilac;
   
    
    @include flex(center, center, column);
    gap: 32px;

    .top {
        width: 100%;

        .wrapper {
            @include flex(center, center, column);
            gap: 16px;

            .logo, .logo img {
                @include svg-size(fit-content, 50px);
            }

            a, p {
                @include primary(400, 1rem, $black);
             
            }

            .address {
                p {
                    white-space: break-spaces;
                }
            }

            >* {
                @include flex(center, center, column);
                text-align: center;

                h4 {
                    font-size: 1.25rem;
                    font-weight: 700;
                    margin-bottom: 8px;
                }

                p, a {
                    margin-bottom: 4px;
                    text-decoration: none;
                }
            }

            .links {
                @include flex(center, center, column);

                .accordion-wrapper {
                    border-bottom: 0;

                    .accordion {
                        a {
                            @include flex(center, flex-start, row);
                            color: $black;
                            position: relative;
                            text-decoration: none;

                            svg {
                                @include svg-size(fit-content, 24px);
                            }

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }

    .bottom {
        width: 100%;
        padding: 16px;

        .wrapper {
            @include flex(center, space-between, $fd: column);
            gap: 15px;
            
            .copyright {
                @include primary(500, 1rem, $darkPurple);
                margin-bottom: 0;
            }
    
            .surge {
                @include flex(center, $fd: column);
                gap: 6px;
    
                * {
                    @include primary(500, 1rem, $darkPurple);
                    margin-bottom: 0;
                }
    
                > a, svg {
                    @include svg-size(110px, 28px);

                    path {
                        fill: $brandLight;
                        transition: all .3s ease;
                    }
    
                    &:hover {
                        path {
                            fill: $purpleBrand;
                        }
                    }
                }
            }
        }
    }
}

@media #{ $medium } {
    footer {
        .bottom {
            .wrapper {
                .surge {
                    @include flex(center, center, $fd: row);
                }
            }
        }
    }
}


@media #{ $large } {
    footer {
        border-top: 5px solid $darkPurple;
        padding: 64px 16px 32px;
        gap: 64px;

        .top {
            .wrapper {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                gap: 32px;

                p {
                    color: $black;
                }
                .logo, .logo img {
                    @include svg-size(fit-content, 71px);
                }

                * {
                    text-align: left;
                    align-items: flex-start;
                    justify-content: flex-start;
                }

                .links {
                    align-items: flex-start;
                }

                .contact {
                    a {
                         color:$black;
                    }
                }
            }
        }
        .bottom {
            .wrapper {
                flex-direction: row;
            }
        }
    }
}