@import '../variables';

section.hero {
    position: relative;
    overflow: hidden;
    border-radius: 0 0 100px 0;

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, $darkPurple, rgba($purpleBrand, .5));
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .wrapper {
        .content {
            width: 100%;
            max-width: 688px;

            h1 {
                font-weight: 700;
            }

            h1, h2, h3, p, a, strong, b, i, em {
                color: $white;
            }

            p.subtitle {
                color: $lilac;
                letter-spacing: 2px;
            }

            &.textbox {
                background-color: $purpleBrand;
                padding: 30px;
                border-radius: 30px;
                max-width: 600px;
            }
        }
    }
}

@media #{ $large } {
    section.hero {
        border-radius: 0 0 300px 0;
    }
}
